body{
    font-family: Arial;
    background-color: azure;
}

#content{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    text-align: center;
}

button{
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: lightgray;
}

button:disabled,
button:disabled:hover{
    background-color: lightgray;
    cursor: not-allowed;
}

.row{
    display: flex;
    align-items: center;
}

.thumbnail{
    width: 100%;
}

.first_col{
    flex: 2 1 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.image_container{
    flex: 1 1 0;
    background-color: white;
    text-align: center;
    border-radius: 10%;
    margin: 10px;
    overflow: hidden;
}

#input_container{
    position: fixed;
    right: 500px;
    top: 50%;
    transform: translate(0,-50%);
    text-align: center;
    margin: 10px;
}

#classification{
    font-size: 30px;
    color: black;
    position: relative;
}

.highlight{
    background-color: yellow;
}